//@import 'libs/vars';
//@import 'libs/functions';
//@import 'libs/mixins';
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200');
/* Basic */

	body {
		background: #D4D9DD url('../img/bg03.jpg');
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
		min-height: 100vh;
	}

	input, textarea, select {
		color: #474f51;
		font-size: 13.5pt;
		font-family: 'Yanone Kaffeesatz';
		line-height: 1.85em;
		font-weight: 300;
	}

	ul, ol, p, dl {
		margin: 0 0 1em 0;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	section > :last-child,
	.last-child {
		margin-bottom: 0 !important;
	}

#page-wrapper {
	min-height: 100vh;
}

#features-wrapper {
	min-height: calc(100vh - 155px);
}

#header {
	nav {
		.dropdown-menu {
			left: auto;
			right: 0;
			background: transparent;
			li {
				a:hover, a:focus {
					background: transparent;
				}
			}
		}

		.button-cart {
			background: #e2e2e2;
			background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
			background: -webkit-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
			background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
			display: inline-block;
			color: #4c4c4c;
			text-align: center;
			text-decoration: none;
			font-weight: 300;
			padding: 15px;
			outline: 0;
			border-radius: 10px;
			box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 0.75), inset 0px 2px 0px 0px rgba(192, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(96, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
			text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);

			&:hover {
				background: #f5f6f6;
				background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
				background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
				background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
				background-color: #fd492b;
				box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 0.75), inset 0px 2px 0px 0px rgba(192, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(96, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);			}

			&:active {
				background: #f5f6f6;
				background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
				background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
				background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
				background-color: #ce1a00;
				box-shadow: inset 0px 0px 0px 1px rgba(200, 200, 200, 0.75), inset 0px 2px 0px 0px rgba(192, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(96, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);			}
		}
	}
}

/* Multi-use */

	.link-list {
		li {
			padding: 0.2em 0 0.2em 0;

			&:first-child {
				padding-top: 0 !important;
				border-top: 0 !important;
			}

			&:last-child {
				padding-bottom: 0 !important;
				border-bottom: 0 !important;
			}
		}
	}

	.quote-list {
		li {
			padding: 1em 0 1em 0;
			overflow: hidden;

			&:first-child {
				padding-top: 0 !important;
				border-top: 0 !important;
			}

			&:last-child {
				padding-bottom: 0 !important;
				border-bottom: 0 !important;
			}

			img {
				float: left;
			}

			p {
				margin: 0 0 0 90px;
				font-size: 1.2em;
				font-style: italic;
			}

			span {
				display: block;
				margin-left: 90px;
				font-size: 0.9em;
				font-weight: 400;
			}
		}
	}

	.check-list {
		li {
			padding: 0.7em 0 0.7em 45px;
			font-size: 1.2em;
			background: url('../img/icon-checkmark.png') 0px 1.05em no-repeat;

			&:first-child {
				padding-top: 0 !important;
				border-top: 0 !important;
				background-position: 0 0.3em;
			}

			&:last-child {
				padding-bottom: 0 !important;
				border-bottom: 0 !important;
			}
		}
	}

	.feature-image {
		display: block;
		margin: 0 0 2em 0;
		outline: 0;

		img {
			display: block;
			width: 100%;
		}
	}

	.bordered-feature-image {
		display: block;
		background: #fff url('../img/bg04.png');
		padding: 10px;
		box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		margin: 0 0 1.5em 0;
		outline: 0;
		img {
			display: block;
			width: 100%;
		}
	}

	.button-big {
		background: #fd492b;
		background: -moz-linear-gradient(top, #fd492b 0%, #de2a10 100%);
		background: -webkit-linear-gradient(top, #fd492b 0%,#de2a10 100%);
		background: linear-gradient(to bottom, #fd492b 0%,#de2a10 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd492b', endColorstr='#de2a10',GradientType=0 );
		display: inline-block;
		color: #fff;
		text-align: center;
		text-decoration: none;
		font-weight: 300;
		padding: 15px;
		outline: 0;
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);

		&:hover {
			background: #ce1a00;
			background: -moz-linear-gradient(top, #ce1a00 0%, #ed391b 100%);
			background: -webkit-linear-gradient(top, #ce1a00 0%,#ed391b 100%);
			background: linear-gradient(to bottom, #ce1a00 0%,#ed391b 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1a00', endColorstr='#ed391b',GradientType=0 );
			background-color: #fd492b;
			box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		}

		&:active {
			background: #ce1a00;
			background: -moz-linear-gradient(top, #ce1a00 0%, #ed391b 100%);
			background: -webkit-linear-gradient(top, #ce1a00 0%,#ed391b 100%);
			background: linear-gradient(to bottom, #ce1a00 0%,#ed391b 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce1a00', endColorstr='#ed391b',GradientType=0 );
			background-color: #ce1a00;
			box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(255, 192, 192, 0.5), inset 0px 0px 0px 2px rgba(255, 96, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
		}
		&--green {
			background: #b4ddb4;
			background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
			background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
			background: linear-gradient(to bottom, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=0 );
			box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(192, 255, 192, 0.5), inset 0px 0px 0px 2px rgba(0, 100, 0, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
			&:hover, &:active {
				background: #b4e391;
				background: -moz-linear-gradient(top, #b4e391 0%, #61c419 50%, #b4e391 100%);
				background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 50%,#b4e391 100%);
				background: linear-gradient(to bottom, #b4e391 0%,#61c419 50%,#b4e391 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 );
				box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 0px 0px rgba(192, 255, 192, 0.5), inset 0px 0px 0px 2px rgba(96, 255, 96, 0.85), 3px 3px 3px 1px rgba(0, 0, 0, 0.15);			}


		}
		&--cart {
			background: #e2e2e2;
			background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
			background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
			background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
		}
	}

/* Content */

	#content {
		.quote-list {
			li {
				border-bottom: solid 1px #e2e6e8;
			}
		}

		.link-list {
			li {
				border-bottom: solid 1px #e2e6e8;
			}
		}

		.check-list {
			li {
				border-bottom: solid 1px #e2e6e8;
			}
		}
	}

/* Footer */

	#footer {
		.quote-list {
			li {
				border-top: solid 1px #e0e4e6;
				border-bottom: solid 1px #b5bec3;
			}
		}

		.link-list {
			li {
				border-top: solid 1px #e0e4e6;
				border-bottom: solid 1px #b5bec3;
			}
		}

		.check-list {
			li {
				border-top: solid 1px #e0e4e6;
				border-bottom: solid 1px #b5bec3;
			}
		}
	}


.stars {
	color: white;
	text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.75);
}

.badge {
	padding: 7px 10px 5px;
	border-radius: 50%;
	background-color: #ccc;
	font-size: 15px;
}
.form-group {
	.button-big {
		width:100px;
	}
}

.form-group {
	.button-big.button-auth {
	width: auto;
	}
}

.centered {
	text-align: center;
}
a.authors-book {
	background: transparent;
}
a.authors-book:hover, a.authors-book:active, a.authors-book:focus {
	background: transparent;
	box-shadow: inset 0px 0px 10px 5px rgba(90,90,90,1);

}
button.button-big {
	border: none;
}

.header {
	display: block;
}

.main-heading {
	font-size: 4rem;
	line-height: 4.5rem;
	color: white;
}

@media screen and (max-width: 1200px) and (min-width: 737px) {
	body {
		min-width: 750px;
	}
}

a.auth {
	font-size: 35px;
	margin-right: 10px;
}
